<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
 
<div class="container card my-5 p-4">

	<h3 class="card-header">신규 사료 등록</h3>

	<form th:action="@{/foodboard/foodwrite.fn}"
		method="post"
		enctype="multipart/form-data">

		<div class="row mt-4">

			<div class="col-4 mb-3">
			  <label class="form-label">브랜드 :</label>
			  <select name="brandid" class="form-control">
			    <option value="">-- 선택 --</option>	
			    <option th:each="b : ${brandlist}"
			            th:value="${b.brandid}"
			            th:text="${b.brandname}">
			    </option>
			  </select>
			</div>

			<div class="col-4 mb-3">
				<label class="form-label">펫타입 :</label> <select name="pettypeid"
					class="form-control">
					<option value="">-- 선택 --</option>
					<option value="1">고양이</option>
					<option value="2">강아지</option>
				</select>
			</div>

			<div class="col-4 mb-3">
				<label class="form-label">사료 타입 :</label> <select name="foodtype"
					class="form-control">
					<option value="">-- 선택 --</option>
					<option value="건식">건식</option>
					<option value="습식">습식</option>
				</select>
			</div>

		</div>

		<!-- 텍스트 입력들 -->
		<div class="row">
			<div class="col-12 mb-3">
				<label class="form-label">사료 이름 :</label> <input type="text"
					class="form-control" name="foodname">
			</div>

			<div class="col-12 mb-3">
				<label class="form-label">사료 설명 :</label>
				<textarea class="form-control" name="description" rows="3"></textarea>
			</div>
		</div>

		<!-- 주재료 / 부재료 -->
		<div class="row">
			<div class="col-4 mb-3">
				<label class="form-label">주재료 :</label> <input type="text"
					class="form-control" name="mainingredient">
			</div>

			<div class="col-4 mb-3">
				<label class="form-label">부재료 :</label> <input type="text"
					class="form-control" name="subingredient">
			</div>
		</div>

		<!-- 카테고리 / 연령 -->
		<div class="row">

			<div class="col-4 mb-3">
				<label class="form-label">분류 :</label> <select name="category"
					class="form-control">
					<option value="">-- 선택 --</option>
					<option value="일반">일반</option>
					<option value="처방식">처방식</option>
					<option value="기능식">기능식</option>
				</select>
			</div>

			<div class="col-4 mb-3">
				<label class="form-label">연령 :</label> <select name="petagegroup"
					class="form-control">
					<option value="">-- 선택 --</option>
					<option value="어덜트">어덜트</option>
					<option value="시니어">시니어</option>
					<option value="키튼">키튼</option>
					<option value="퍼피">퍼피</option>
				</select>
			</div>

			<div class="col-4 mb-3">
				<label class="form-label">그레인프리 :</label> <select name="isgrainfree"
					class="form-control">
					<option value="">-- 선택 --</option>
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</div>

		</div>

		<!-- 칼로리 -->
		<div class="row">
			<div class="col-4 mb-3">
				<label class="form-label">칼로리 :</label> <input type="text"
					class="form-control" name="calorie">
			</div>
		</div>

		<div id="nutri-box">
		
		  <div class="row nutri-row align-items-center mb-2"
		       th:each="i : ${#numbers.sequence(1, 4)}">
		
		    <div class="col-4">
		      <label class="form-label">영양소:</label>
		
		      <select name="nutrientid"
		              class="form-control"
		              onchange="updateUnit(this)">
		        <option value="">-- 선택 --</option>
		
		        <option th:each="n : ${nutrientlist}"
		                th:value="${n.nutrientid}"
		                th:data-unit="${n.unit}"
		                th:text="${n.nutrientname}">
		        </option>
		      </select>
		    </div>
		
		    <div class="col-4">
		      <label class="form-label">함량 :</label>
		      <div class="input-group">
		        <input type="text" name="amount" class="form-control">
		        <span class="input-group-text unitLabel">%</span>
		      </div>
		    </div>
		
		  </div>
		  <button type="button" class="btn btn-outline-secondary" id="addbtn">추가</button>
		</div>


		<!-- 이미지 URL -->
		<div class="row">
		   <div class="mb-3 mt-4 col-3 justify-content-end">
		      <label for="file" class="form-label">제품 이미지:</label>
		      <input type="file" class="form-control" id="file" name="file">
		   </div>
		</div>

		<div class="mb-3 text-end">
			<button type="submit" class="btn btn-mint">사료 등록</button>
			<a th:href="@{/foodboard/foodlist.fn}"
				class="btn btn-slateBlue"> 목록보기 </a>
		</div>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
</div>

	<script>

	// 단위 자동표시
		function updateUnit(selectElem) {
		    const unit = selectElem.selectedOptions[0].dataset.unit;
		    selectElem.closest('.nutri-row').querySelector('.unitLabel').textContent = unit;
		}
	
		$("#addbtn").on("click", function () {

			  // 마지막 영양 row 복제
			  const $lastRow = $(".nutri-row").last();
			  const $newRow = $lastRow.clone();

			  // 값 초기화
			  $newRow.find("select[name='nutrientid']").val("");
			  $newRow.find("input[name='amount']").val("");
			  $newRow.find(".unitLabel").text("%");

			  // 추가
			  $newRow.insertBefore("#addbtn");
			});
	</script>
	
	
	</div><!-- content-->
</body>
</html>