<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<<<<<<<< HEAD:pawject2/src/main/webapp/WEB-INF/web.xml
  <display-name>pawject2</display-name>
========
  <display-name>pawject1</display-name>
>>>>>>>> 961999066a4a0c02d9d83aedc3f720f8b5947f2c:pawject1/src/main/webapp/WEB-INF/web.xml
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>ReController</servlet-name>
    <servlet-class>com.pawject.controller.ReController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReController</servlet-name>
    <url-pattern>*.rv</url-pattern>
  </servlet-mapping>
  
</web-app>