<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="ko">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/button.css}">
	<link rel="stylesheet" th:href="@{/css/review.css}">
    
    <title>Header</title>
</head>
<body>

<!-- header fragment 정의 -->
<th:block th:fragment="header">

<div class="p-5 bg-primary text-white text-center">
<p class="mb-0 fs-4 ">🐾&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🐾</p>
<h1 class="fw-bold">Pet Food & Wellness</h1>
<p class="mb-0 fs-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🐾</p>
<p class="mb-0">반려동물을 위한 사료·건강 데이터 통합 서비스</p>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">

        <ul class="navbar-nav ms-auto align-items-center">
		 
		  <li class="nav-item">
		  	<a class="nav-link"  sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/foodboard/foodlist.fn}">사료 관리</a>
		  </li>
          <li class="nav-item">
          	<a class="nav-link" th:href="@{/faqBoard/faqlist}">고객센터</a>
          </li> 		 
          <li class="nav-item">
          	<a class="nav-link" th:href="@{/petfoodsearcher/searchpetfood}">사료찾기</a>
          </li> 

          <!-- 로그인 사용자 메뉴 -->
          <sec:authorize access="isAuthenticated()">
           <li class="nav-item"><a class="nav-link"  sec:authorize="isAnonymous()" th:href="@{/faqBoard/faqlist}">고객센터</a></li>
           <li class="nav-item">
            <a class="nav-link" href="${pageContext.request.contextPath}/reviewlist.fn">사료 리뷰</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="${pageContext.request.contextPath}/list.execboard">운동 챌린지</a>
          </li>
                   
 
            <li class="nav-item">
<!--               <a class="nav-link fw-bold text-info" href="${pageContext.request.contextPath}/security/mypage">
                <sec:authentication property="principal.dto.email" />
              </a> -->
            </li>
            <li class="nav-item">
              <form action="${pageContext.request.contextPath}/security/logout" method="post" class="d-inline">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn btn-sm btn-danger ms-2">로그아웃</button>
              </form>
            </li>
          </sec:authorize>

          <!-- 비로그인 사용자 메뉴 -->
          <sec:authorize access="isAnonymous()">
			<li class="nav-item"><a class="nav-link"  sec:authorize="isAnonymous()" th:href="@{/faqBoard/faqlist}">고객센터</a></li>
          <li class="nav-item">
            <a class="nav-link" href="${pageContext.request.contextPath}/reviewlist.fn">사료 리뷰</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="${pageContext.request.contextPath}/list.execboard">운동 챌린지</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="${pageContext.request.contextPath}/security/login">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="${pageContext.request.contextPath}/security/join">JOIN</a>
            </li>
          </sec:authorize>


      <ul class="navbar-nav ms-auto">

        <sec:authorize access="hasRole('ADMIN')">
		  <li class="nav-item">
		    <a class="nav-link fw-bold text-warning" href="${pageContext.request.contextPath}/security/listPage">
		      관리자 USER
		    </a>
		 </li>
		 <li>   
		    <a class="nav-link fw-bold text-warning" href="${pageContext.request.contextPath}/pet/listPetPage">
		      관리자 PET
		    </a>
		  </li>
		  <li class="nav-item">
		      <a class="nav-link fw-bold text-warning" href="${pageContext.request.contextPath}/foodlist.fn">사료 관리</a>
		  </li>
		  
		<li class="nav-item">
          <a class="nav-link fw-bold text-warning" href="${pageContext.request.contextPath}/list.quest">질환 리스트</a>
        </li>
		</sec:authorize>
        
		
      </ul>
    </div>

  </div>
</nav>

</th:block>

</body>
</html>