<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pawject.dao.Disswc.DiseaseDao">


 		<!-- 명시적 매핑 --> 
		 <resultMap id="diseaseMap" type="DisswcDto">
			<result property="disno" column="DISNO" />
			<result property="disname" column="DISNAME" />
			<result property="disex" column="DISEX" />
			<result property="kindpet" column="KINDPET" />
			<result property="infval" column="INFVAL" />
			<result property="mannote" column="MANNOTE" />
			<result property="createdat" column="CREATEDAT" />
			<result property="bhit" column="BHIT" />
			<result property="bip" column="BIP" />
		</resultMap> 

	<insert id="insert" parameterType="DisswcDto">

		insert into disease (
		disno,disname,disex,kindpet,infval,mannote, bhit, createdat)
		values(disno_seq.nextval
		,#{disname}, #{disex},#{kindpet}, #{infval}, #{mannote}
		, #{bhit},SYSDATE
		)

	</insert>

	<update id="update" parameterType="DisswcDto">
		UPDATE disease
		SET
		disname = #{disname},
		disex = #{disex},
		kindpet = #{kindpet},
		infval = #{infval},
		mannote = #{mannote}
		WHERE disno = #{disno}
	</update>
	
	<update id="updateHit" parameterType="int">
		UPDATE disease
		SET
		bhit = bhit + 1
		WHERE disno = #{disno}
	</update>

	<delete id="delete" parameterType="DisswcDto">
		DELETE FROM disease
		WHERE disno = #{disno}
	</delete>


	<select id="selectAll" resultMap="diseaseMap"
		parameterType="map">
		select *
		from (
		select row_number() over (order by createdat desc) as rnum,
		disno,disname,disex,kindpet,infval,mannote, bhit, createdat
		from disease
		) A
		where A.rnum between #{start} and #{end}
	</select>
	
	<!-- <select id="selectAll" resultType="com.pawject.dto.Disswc.DisswcDto"
		parameterType="map">
		select *
		from (
		select row_number() over (order by createdat desc) as rnum,
		disno,disname,disex,kindpet,infval,mannote, bhit, createdat
		from disease
		) A
		where A.rnum between #{start} and #{end}
	</select> -->
	
	 <!-- 
		<select id="selectAll" resultType="com.pawject.dto.Disswc.DisswcDto" parameterType="map">
		SELECT *
		FROM (
		SELECT row_number() OVER (ORDER BY createdat DESC) AS rnum,
		disno, disname, disex, kindpet, infval, mannote, bhit, createdat
		FROM disease
		) A
		WHERE A.rnum BETWEEN #{start,jdbcType=INTEGER} AND #{end,jdbcType=INTEGER}
       </select>
 -->
 
		 <select resultMap="diseaseMap" id="select" parameterType="int">
			SELECT *
			FROM disease
			WHERE disno = #{disno}
		 </select>
 
	<!-- <select resultType="DisswcDto" id="select"
			parameterType="int">
		SELECT *
		FROM disease
		WHERE disno = #{disno}
	</select> -->
			
		 <!-- ajax - search -->
		 <select resultMap = "diseaseMap" id="selectSearch"  parameterType="java.util.HashMap">
		 	select * from disease where disname like #{search}
		 </select>
	
	

</mapper>