<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	
	<typeAliases>
		<typeAlias type="com.pawject.dto.food.FoodDto"	alias="FoodDto"/>
		<typeAlias type="com.pawject.dto.food.NutriDto"	alias="NutriDto"/>
		<typeAlias type="com.pawject.dto.food.BrandDto"	alias="BrandDto"/>
		<typeAlias type="com.pawject.dto.food.FoodDtoForList"	alias="FoodDtoForList"/>
		<typeAlias type="com.pawject.dto.review.ReviewDto"	alias="ReviewDto"/>

	</typeAliases>
	
</configuration>