<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	
	<settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
	<typeAliases>
		<typeAlias type="com.pawject.dto.food.FoodDto"	alias="FoodDto"/>
		<typeAlias type="com.pawject.dto.food.NutriDto"	alias="NutriDto"/>
		<typeAlias type="com.pawject.dto.food.BrandDto"	alias="BrandDto"/>
		<typeAlias type="com.pawject.dto.food.FoodDtoForList"	alias="FoodDtoForList"/>
		<typeAlias type="com.pawject.dto.user.UserDto"	alias="UserDto"/>
		<typeAlias type="com.pawject.dto.user.AuthDto"        alias="AuthDto"/>
		<typeAlias type="com.pawject.dto.user.UserAuthDto"    alias="UserAuthDto"/>
		<typeAlias type="com.pawject.dto.pet.PetDto" alias="PetDto"/>
		<typeAlias type="com.pawject.dto.review.ReviewDto"	alias="ReviewDto"/>
		<typeAlias type="com.pawject.dto.review.ReviewImgDto"	alias="ReviewImgDto"/>
		<typeAlias type="com.pawject.dto.exec.ExecBoardDto"      alias="ExecBoardDto"/>
		<typeAlias type="com.pawject.dto.exec.ExecInfoDto"          alias="ExecInfoDto"/>  	
		<typeAlias type="com.pawject.dto.Disswc.DisswcDto"     alias="DisswcDto"/>	
	</typeAliases>

</configuration>