<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
  <div class="csq-container">

    <h2 class="csq-title">1:1 문의</h2>

   <table class="csqad-table table table-bordered table-hover align-middle text-center">
        <caption class="visually-hidden">내 1:1 문의</caption>
        <thead class="table-light">
            <tr>
                <th scope="col">NO.</th>
                <th scope="col">분류</th>
                <th scope="col">질문</th>
                <th scope="col">닉네임</th>
                <th scope="col">등록일</th>
                <th scope="col">처리여부</th>
                <th scope="col">답변작성</th>
            </tr>
        </thead>

		<tbody>
			<th:block th:each="q, status : ${list}">
			    <tr th:onclick="|toggleContent(${q.questionid})|">
			        <td th:text="${status.index + 1}"></td>
			        <td th:text="${q.category}"></td>
			        <td th:text="${q.title}"></td>
			        <td th:text="${q.nickname}"></td>
			        <td th:text="${q.createdat}"></td>
			        <td>
					<button type="button" class="btn quickanswer-btn"
					        th:data-questionid="${q.questionid}"
					        th:classappend="${q.status == 1} ? 'btn-success' : 'btn-olive'"
					        th:text="${q.status == 1 ? '답변완료' : '답변대기'}">
					</button>
					</td>
					<td>
					    <a class="btn btn-mint"
					       th:if="${q.status == 0}"
					       th:href="@{/csBoard/cswriteanswer(questionid=${q.questionid})}"
					       th:text="답변작성">
					    </a>
					</td>
			    </tr>
			
				<tr th:id="'content-' + ${q.questionid}" style="display:none;">
				    <td colspan="7" class="detail">
				        <p class="csq-answer" th:text="${q.content}"></p>
				        
				        <hr/>

				        <div th:each="a : ${q.answers}">
				            <p class="csq-answer">
				                <strong>[답변]</strong>
				                <span th:text="${a.answercontent}"></span>
				            </p>
				            <div class="csq-keyword-wrap">
				            <p> [작성일]
				                <span th:text="${a.createdat}"></span>
				            </p>
					    </div>
				        </div>
				
				    </td>
				</tr>

			</th:block>

		</tbody>
	</table>


</div>

<script>
function toggleContent(id) {
  const row = document.getElementById("content-" + id);
  row.style.display = (row.style.display === "table-row") ? "none" : "table-row";
}
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var csrfHeader = /*[[${_csrf.headerName}]]*/ 'X-CSRF-TOKEN';
    var csrfToken  = /*[[${_csrf.token}]]*/ '';
    /*]]>*/
</script>
<script>
$(document).ready(function(){
    $(".quickanswer-btn").on("click", function() {
        let questionid = $(this).data("questionid");
        if(confirm("답변 상태를 변경하시겠습니까?")) {
        	$.ajax({
        	    url: "/csBoard/quickanswer",
        	    type: "POST",
        	    beforeSend: function(xhr) {
        	        xhr.setRequestHeader(csrfHeader, csrfToken);
        	    },
        	    data: { questionid: questionid },
        	    success: function() {
        	         location.reload();
        	    },
        	    error: function() {
        	        alert("error");
        	    }
        	});
        }
    });
});
</script>


	</div><!-- content-->
</body>
</html>