<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pawject.dao.exec.WalkingcourseDao">
  <resultMap id="walkingcourseMap" type="WalkingcourseDto">
 	<result property="courseid"  column="COURSEID"/>
 	<result property="postid"    column="POSTID"/>
 	<result property="location"  column="LOCATION"/>
 	<result property="lat"       column="LAT"/>
 	<result property="lng"       column="LNG"/>
 	<result property="createdAt" column="CREATEDAT"/>
 </resultMap>
 
 
 <insert id="insertwalking" parameterType="WalkingcourseDto">
 	insert into walkingcourse ( COURSEID,                  POSTID ,                     LOCATION,    LAT,    LNG  ) 
	values                    ( walkingcourse_seq.nextval, #{postid}, #{location}, #{lat}, #{lng} )
 </insert>
 
 <update id="updatewalking" parameterType="WalkingcourseDto">
 	update walkingcourse 
 	<set> 
	 	POSTID=#{postid}, LOCATION=#{location}, 
	    LAT=#{lat}, LNG=#{lng}
    </set>    
	where COURSEID=#{courseid}
 </update>
 
 <delete id="deletewalking" parameterType="WalkingcourseDto">
 	delete from walkingcourse where COURSEID=#{courseid}
 </delete>
 
 <select resultMap="walkingcourseMap"  id="selectAllwalking" >
 	select * from walkingcourse order by COURSEID desc
 </select>
 
 <select resultMap="walkingcourseMap"  id="selectwalking" parameterType="int">
 	select * from walkingcourse where COURSEID=#{courseid}
 </select>


  <!-- 페이징(1) - walkingcourse10 -->
  <select id="selectwalking10" parameterType="java.util.HashMap" resultMap="walkingcourseMap">
  	select *
	from (
	    select row_number() over (order by COURSEID desc) as rnum,
	           COURSEID, POSTID, LOCATION, LAT, LNG, CREATEDAT
	    from walkingcourse
	) A
	where  A.rnum  between  #{start}  and #{end}
  </select>
  
  <!-- 페이징(2) - selectwalkingTotalCnt -->
  <select id="selectwalkingTotalCnt" resultType="int">
  	select count(*) from walkingcourse
  </select>
  
  <!-- 페이징(3) - selectwalking3 -->
  <select id="selectwalking3" parameterType="java.util.HashMap" resultMap="walkingcourseMap">
  	select *
	from (
	    select row_number() over (order by COURSEID desc) as rnum,
	           COURSEID, POSTID, LOCATION, LAT, LNG, CREATEDAT
	    from walkingcourse
	    where location LIKE '%' || #{search} || '%'
	) A
	where  A.rnum  between  #{start}  and #{end}
  </select>
  
  <!-- 페이징(4) - selectwalkingSearchTotalCnt -->
  <select id="selectwalkingSearchTotalCnt" parameterType="string" resultType="int">
  	select count (*) 
	from walkingcourse
	where location  LIKE '%' || #{search} || '%'  	
  </select>

</mapper>

<!-- SQL구문 
insert
insert into walkingcourse ( COURSEID,                  POSTID ,   LOCATION,    LAT,    LNG  ) 
values                    ( walkingcourse_seq.nextval, #{postid}, #{location}, #{lat}, #{lng} )

update
update walkingcourse set POSTID=#{postid}, LOCATION=#{location}, 
                         LAT=#{lat}, LNG=#{lng}    
where COURSEID=#{courseid}

delect
delete from walkingcourse where COURSEID=#{courseid}

selectAll
select * from walkingcourse order by COURSEID desc

select
select * from walkingcourse where COURSEID desc

PAGING_1
select *
from (
    select row_number() over (order by COURSEID desc) as rnum,
           COURSEID, POSTID, LOCATION, LAT, LNG, CREATEDAT
    from walkingcourse
) A
where  A.rnum  between  #{start}  and #{end}

PAGING_2
select count(*) from walkingcourse

PAGING_3
select *
from (
    select row_number() over (order by COURSEID desc) as rnum,
           COURSEID, POSTID, LOCATION, LAT, LNG, CREATEDAT
    from walkingcourse
    where location LIKE '%' || #{search} || '%'
) A
where  A.rnum  between  #{start}  and #{end}

PAGING_4
select count (*) 
from walkingcourse
where location  LIKE '%' || #{search} || '%'

 -->





