<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pawject.dao.exec.ExecInfoDao">
	<!-- 명시적매핑 -->
 	<resultMap  type="ExecInfoDto"  id="ExecInfoMap" >
		<result property="execid"         column="EXECID"/>
		<result property="exectype"       column="EXECTYPE"/>
		<result property="description"    column="DESCRIPTION"/>
		<result property="avgkcal30min"   column="AVGKCAL30MIN"/>
		<result property="exectargetmin"  column="EXECTARGETMIN"/>
		<result property="suitablefor"    column="SUITABLEFOR"/>
		<result property="intensitylevel" column="INTENSITYLEVEL"/>
	</resultMap>
	
	<!-- 운동챌린지게시판 참조용 -->
	<resultMap  type="ExecBoardDto" id="ExecBoardMap" >
	  <result property="execid" column="EXECID"/>
	</resultMap>
	
	
	<!-- 운동정보(운동챌린지게시판 작성시 참고용) -->
	<insert id="insert2" parameterType="ExecInfoDto">
		insert into exerciseinfo (execid, exectype, description, avgkcal30min, exectargetmin, suitablefor, intensitylevel ) 
		values(exerciseinfo_seq.nextval, #{exectype}, #{description}, #{avgkcal30min}, #{exectargetmin}, #{suitablefor}, #{intensitylevel} )
	</insert>
	
	<select resultMap="ExecInfoMap" id="selectAll2">
		select * from exerciseinfo
		order by execid desc
	</select>
	<select resultMap="ExecInfoMap" id="select2" parameterType="int">
		select * from exerciseinfo where execid=#{execid}
	</select>


	<!-- ajax - search -->
	<select resultMap="ExecInfoMap" id="selectSearch2" parameterType="java.util.HashMap">
		select * from exerciseinfo where exectype like #{search} <!-- #{search} 주의!! -->
	</select>

	<!-- paging -->
	<select resultMap="ExecInfoMap" id="select10"
		parameterType="java.util.HashMap">
		select * 
		from ( 
			select row_number() over (order by createdat desc) as rnum,
			execid, exectype, description, avgkcal30min, exectargetmin, suitablefor, 
			intensitylevel
			from exerciseinfo 
		) A 
		where A.rnum between #{start} and #{end}
	</select>
	<select resultType="int" id="selectTotalCnt">
		select count(*) from exerciseinfo
	</select>

	<update id="update2" parameterType="ExecInfoDto">
		update exerciseinfo set exectype=#{exectype}, description=#{description}, avgkcal30min=#{avgkcal30min}, 
	     exectargetmin=#{exectargetmin}, suitablefor=#{suitablefor}, intensitylevel=#{intensitylevel}  
		where  execid=#{execid}
	</update>

	<delete id="delete2" parameterType="ExecInfoDto">
		delete from exerciseinfo   where  execid=#{execid}
	</delete>

</mapper>

<!-- CREATE(insert) -->
<!-- insert into execboard (postid, execid, userid, etitle, econtent, eimg 
	) values (execboard_seq.nextval, #{execid} , #{userid}, #{etitle}, #{econtent}, 
	#{eimg}) -->

<!-- READ(select) -->
<!-- 전체보기 -->
<!-- select * from execboard order by postid desc -->

<!-- 상세보기 -->
<!-- select * from execboard where postid=#{postid} -->

<!-- 페이징 -->
<!-- select * from ( select row_number() over (order by createdat desc) as 
	rnum, postid, execid, userid, etitle, econtent, eimg, ehit, createdat, updatedat 
	from execboard ) A where A.rnum between #{start} and #{end}; -->

<!-- UPDATE -->
<!-- update exerciseinfo set exectype=#{exectype}, description=#{description}, avgkcal30min=#{avgkcal30min}, 
exectargetmin=#{exectargetmin}, suitablefor=#{suitablefor}, intensitylevel=#{intensitylevel}  
   where  execid=#{execid}-->
   
 <!-- DELETE -->
<!-- delete from exerciseinfo   where  execid=#{execid}-->


