<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pawject.dao.exec.SaveweatherDao">
 <resultMap id="saveweatherMap" type="SaveweatherDto">
 	<result property="basedate"    column="BASEDATE"/>
 	<result property="weather"     column="WEATHER"/>
 	<result property="maxtemp"     column="MAXTEMP"/>
 	<result property="mintemp"     column="MINTEMP"/>
 	<result property="moispercent" column="MOISPERCENT"/>
 	<result property="rainpercent" column="RAINPERCENT"/>
 </resultMap>

 <insert id="insertweather" parameterType=""></insert>
 <update id="updateweather" parameterType=""></update>
 <delete id="deleteweather" parameterType=""></delete>
 <select resultMap="saveweatherMap"  id="selectAllweather" ></select>
 <select resultMap="saveweatherMap"  id="selectweather" parameterType="int"></select>
 
  <!-- 페이징(1) - ### -->
  <select id="###" parameterType="java.util.HashMap" resultMap="###"></select>
  
  <!-- 페이징(2) - ### -->
  <select id="###" resultType="###"></select>
  
  <!-- 페이징(3) - ### -->
  <select id="###" parameterType="java.util.HashMap" resultMap="###"></select>
  
  <!-- 페이징(4) - ### -->
  <select id="###" parameterType="###" resultType="int"></select>

</mapper>

<!-- SQL구문 
insert

update

delect

selectAll

select

PAGING_1

PAGING_2

PAGING_3

PAGING_4


 -->