<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pawject.dao.exec.WalkingcourseDao">
  <resultMap id="walkingcourseMap" type="WalkingcourseDto">
 	<result property="courseid"  column="COURSEID"/>
 	<result property="postid"    column="POSTID"/>
 	<result property="location"  column="LOCATION"/>
 	<result property="lat"       column="LAT"/>
 	<result property="lng"       column="LNG"/>
 	<result property="createdAt" column="CREATEDAT"/>
 </resultMap>
 
 <insert id="insertwalking" parameterType=""></insert>
 <update id="updatewalking" parameterType=""></update>
 <delete id="deletewalking" parameterType=""></delete>
 <select resultMap="walkingcourseMap"  id="selectAllwalking" ></select>
 <select resultMap="walkingcourseMap"  id="selectwalking" parameterType="int"></select>

  <!-- 페이징(1) - ### -->
  <select id="###" parameterType="java.util.HashMap" resultMap="###"></select>
  
  <!-- 페이징(2) - ### -->
  <select id="###" resultType="###"></select>
  
  <!-- 페이징(3) - ### -->
  <select id="###" parameterType="java.util.HashMap" resultMap="###"></select>
  
  <!-- 페이징(4) - ### -->
  <select id="###" parameterType="###" resultType="int"></select>

</mapper>

<!-- SQL구문 
insert

update

delect

selectAll

select

PAGING_1

PAGING_2

PAGING_3

PAGING_4


 -->





