<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">

<head>
    <meta charset="UTF-8">
    <title>알림메세지 작성</title>
</head>
<body>
<div class="container my-5" layout:fragment="content">
    <h2>알림메세지 작성</h2>
    <form th:action="@{/admin/announcements}" method="post">
        <div class="mb-3">
            <label for="message">알림메세지 내용</label>
            <textarea id="message" name="message" class="form-control" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">알림메세지 등록</button>
		<a href="/admin/announcements"
           class="btn btn-secondary ms-2">
            목록으로
        </a>
    </form>
</div>


</body>
</html>
