/* 전체 컨테이너 */
.review-container {
    width: 80%;
    margin: 40px auto;
}

/* 제목 */
.review-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

.review-table thead th,
.review-table tbody td {
    vertical-align: middle;
}

/*컬럼 간격 조정 */
.review-table th:nth-child(2),
.review-table td:nth-child(2) {
    width: 80px;   
}
.review-table th:nth-child(3),
.review-table td:nth-child(3) {
    width: 170px;   
}
.review-table th:nth-child(4),
.review-table td:nth-child(4) {
    width: 250px;   
}
.review-table th:nth-child(5),
.review-table td:nth-child(5) {
    width: 120px;   
}


.review-table th:nth-child(7),
.review-table td:nth-child(7) {
    width: 170px;   
}

.review-table th:nth-child(8),
.review-table td:nth-child(8),
.review-table th:nth-child(9),
.review-table td:nth-child(9) {
    width: 150px;   
}




/* 상세 행 숨김 */
.review-detail {
    display: none;
}

/* 상세 내부 테이블 */
.detail-inner-table {
    width: 100%;
}

/* 상세 이미지 영역 */
.detail-img {
    width: 15%;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    border-right: 1px solid #dee2e6; /* bootstrap의 border 색상 */
}

.review-thumb {
    max-width: 150px;
    cursor: pointer;
}

/* 상세 내용 */
.detail-content {
    padding: 10px 20px;
}

.detail-text {
    margin-bottom: 15px;
    text-align : left;
}

.detail-btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
}

/* 작성 버튼 */
.write-btn-area {
    text-align: right;
    margin-top: 20px;
}
