
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{fragments/layout}">
<!-- 	#1. layout 렌더링	 -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">
		<!-- <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')"></div> -->
			<h3 class="card-header">운동정보게시판 글삭제</h3>
			<form th:action="@{/info/infodelete}" method="post">
				<input type="hidden" name="execid" th:value="${execid}">
				<!-- <div class="my-3">
					<label for="execid" class="form-label">운동아이디:</label> <input
						type="text" class="form-control" id="execid" name="execid"
						readonly th:value="${idto.execid}"> ${idto.execid}
				</div> -->
				<!-- <div class="my-3">
					<label for="exectype" class="form-label">운동유형:</label> <input
						type="text" class="form-control" id="exectype" name="exectype"
						readonly th:value="${idto.exectype}">
				</div> -->

				<!-- 삭제가 되면 풀어놓고, 잠근 다음에  시큐리티 걸고나서 다시 구동 -->
				<!-- <input type="hidden" name="email" th:value="${#authentication.name}" />
				<div class="mb-3">
					<label for="password">비밀번호:</label> <input type="password"
						name="password" id="password" class="form-control" required>
				</div> -->

				<div class="my-3  text-end">
					<button type="submit" class="btn btn-roseRed">글삭제</button>
					<a href="javascript:history.go(-1)" class="btn btn-navy">BACK</a>
				</div>
			</form>
		
	</div>
	<!--    http://localhost:8484/boot001/board/list -->
</body>
</html>