<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{fragments/layout}">
<!-- 	#1. layout 렌더링	 -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div  sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">
	<div layout:fragment="content">
	  <h3 class="card-header"> 운동정보게시판 글쓰기</h3>
	  <!-- 로그인후 관리자만 -->
	  <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')"></div>
	      <!-- POSTID, ETITLE , ECONTENT  -->
		  <form th:action="@{/info/infowrite}"  method="post"> 
		      <!-- <input type="hidden"   name="postId"  value="1"> --> 	
	 		  <div class="mb-3 mt-3">
			    <label for="execid" class="form-label">운동아이디:</label>
			    <input type="text" class="form-control" 
			    		id="execid"  name="execid" placeholder="운동아이디는 자동으로 반영됩니다."
			    		th:value="${idto.execid}"  readonly> <!-- 시큐리티 걸고 th:value="${idto.execid}"-->
			  </div>
			  <div class="mb-3 mt-3">
			    <label for="exectype" class="form-label">운동유형:</label>
			    <input type="text" class="form-control" placeholder="운동유형을 입력해주세요." id="exectype"  name="exectype">
			  </div>
			  <div class="mb-3">
			    <label for="description" class="form-label">설명:</label>
			    <textarea class="form-control" id="description" placeholder="내용을 입력해주세요." name="description"></textarea>
			  </div>
			  <div class="mb-3">
			    <label for="avgkcal30min" class="form-label">평균칼로리소모량(30분기준):</label>
			    <input type="text" class="form-control"  placeholder="평균칼로리소모량을 입력해주세요." id="avgkcal30min" name="avgkcal30min">
			  </div>
			  <div class="mb-3 mt-3">
			    <label for="exectargetmin" class="form-label">권장운동시간:</label>
			    <input type="text" class="form-control" id="exectargetmin" placeholder="제목을 입력해주세요." name="exectargetmin">
			  </div>
			  <div class="mb-3 mt-3">
			    <label for="suitablefor" class="form-label">운동추천동물:</label>
			    <input type="text" class="form-control" placeholder="추천동물을 입력해주세요." id="suitablefor"  name="suitablefor">
			  </div>
			  <div class="mb-3">
			    <label for="intensitylevel" class="form-label">운동강도:</label>
			    <input type="text" class="form-control" id="intensitylevel" placeholder="운동강도를 선택해주세요." name="intensitylevel">
			  </div>
			  
			  <div class="mb-3  text-end">
			  	<button type="submit" class="btn btn-terra">글쓰기</button>  
			  	<a th:href="@{/info/infolist}"  class="btn btn-olive">목록보기</a>
			  </div>
	     </form> 
	</div> 
</div>	
	<!--    http://localhost:8484/pawject3/info/infowrite -->
</body>
</html>