
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{fragments/layout}">
<!--  #1. layout 렌더링 -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">
		<!-- <div sec:authorize="isAuthenticated()"></div> -->
			<h3 class="card-header">
				운동스마트게시글상세보기
				<!-- ${dto} -->
			</h3>

			<div th:if="${success}"
				class="alert alert-info alert-dismissible fade show" role="alert">
				<span th:text="${success}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

			<div>
<!-- 				<input type="hidden" name="postid" th:value="${sdto.postid}">

				잘못된 부분: th:value="1" → 수정 필요
				<div class="mb-3 mt-3">
					<label for="postid" class="form-label">게시글아이디:</label> <input
						type="text" class="form-control" id="postid" name="postid"
						readonly th:value="${sdto.postid}">
				</div> -->

				<div class="mb-3 mt-3">
					<label for="execid" class="form-label">운동아이디:</label> <input
						type="text" class="form-control" id="execid" name="execid"
						readonly th:value="${sdto.execid}">
				</div>
				<div class="mb-3 mt-3">
					<label for="wid" class="form-label">날씨아이디:</label> <input
						type="text" class="form-control" id="wid" name="wid" readonly
						th:value="${sdto.wid}">
				</div>
				<div class="mb-3">
					<label for="userid" class="form-label">사용자아이디:</label> <input
						type="text" class="form-control" id="userid" name="userid"
						readonly th:value="${sdto.userid}">
				</div>

				<div class="mb-3">
					<label for="courseid" class="form-label">산책코스아이디:</label> <input
						type="text" class="form-control" id="courseid" name="courseid"
						readonly th:value="${sdto.courseid}">
				</div>

				<div class="mb-3">
					<label for="ehit" class="form-label">조회수:</label> <input
						type="text" class="form-control" id="ehit" name="ehit" readonly
						th:value="${sdto.ehit}">
				</div>

				<div class="mb-3 mt-3">
					<label for="etitle" class="form-label">제목:</label> <input
						type="text" class="form-control" id="etitle" name="etitle"
						readonly th:value="${sdto.etitle}" placeholder="제목을 입력해주세요.">
				</div>

				<div class="mb-3">
					<label for="econtent" class="form-label">내용:</label>
					<textarea class="form-control" id="econtent" name="econtent"
						readonly th:text="${sdto.econtent}" placeholder="내용을 입력해주세요"></textarea>
				</div>

				<!-- 주의: dto.eimg가 null이면 깨진 이미지 발생 -->
				<div class="mb-3" th:if="${sdto.eimg}">
					<label for="file" class="form-label">이미지:</label> <img
						th:src="@{'/upload/' + ${sdto.eimg}}"
						class="img-fluid rounded border mb-3" alt="eimg"
						style="width: 100px;" />
				</div>

				<div class="mb-3">
					<a th:href="@{/smart/smartedit(postid=${sdto.postid})}"
						class="btn btn-lavender form-control">글수정</a>
				</div>
				<div class="mb-3">
					<!-- <a th:href="@{/smart/smartdelete(postid=${sdto.postid})}"
						class="btn btn-roseRed form-control">글삭제</a> -->
					<a th:href="@{/smart/smartdelete?postid={postid}(postid=${sdto.postid})}"
						th:onclick="return confirm('정말로 삭제하시겠습니까?');" class="btn btn-burgundy form-control">
				삭제 </a>
				</div>
				
				
				<div class="mb-3">
					<a th:href="@{/smart/smartlist}"
						class="btn btn-mustard form-control">목록보기</a>
				</div>
			</div>
		
	</div>
	<!-- http://localhost:8484/pawject3/smart/smartdetail -->
</body>
</html>