
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{fragments/layout}">
<!--    #1. layout 렌더링    -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">
		<!-- <div sec:authorize="isAuthenticated()"></div> -->
			<h3 class="card-header my-3">KMA 기상청 단기예보</h3>
			<table
				class="table table-striped  table-bordered  table-hover  weather_result">
				<caption>우리동네 단기예보</caption>
				<thead>
					<tr>
						<th scope="col">발표일자</th>
						<th scope="col">발표시간</th>
						<th scope="col">자료구분</th>
						<th scope="col">예측일자</th>
						<th scope="col">예측시간</th>
						<th scope="col">위도</th>
						<th scope="col">경도</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div sec:authorize="isAuthenticated()">
				<p class="text-end">
					<a th:href="@{/weather/weatherlist}" class=" text-white btn btn-warning">날씨추천</a>
				</p>
			</div>
			
			<script th:inline="javascript">
				$(function() {
					$(".weather_result tbody").empty();

					// ⭐ contextPath 자동 설정
					const contextPath = /*[[@{/}]]*/'';

					$.ajax({
						url : contextPath + "execapi/saveweatherapi",
						type : "get",
						dataType : "xml",
						success : function(xml) {
							console.log(xml);

							$(xml).find("item").each(
									function(i, el) {
										let tr = $("<tr>"); // ❗ 기존 코드에 이 줄이 없었음 (중요)

										let td1 = $("<td>").text( $(el).find("baseDate").text());
										let td2 = $("<td>").text( $(el).find("baseTime").text());
										let td3 = $("<td>").text( $(el).find("category").text());
										let td4 = $("<td>").text( $(el).find("fcstDate").text());
										let td5 = $("<td>").text( $(el).find("fcstTime").text());
										let td6 = $("<td>").text( $(el).find("nx").text());
										let td7 = $("<td>").text( $(el).find("ny").text());

										tr.append(td1, td2, td3, td4, td5, td6, td7);
										$(".weather_result tbody").append(tr);
									});
						},
						error : function(xhr, status, error) {
							$("#response").text(xhr.responseText);
						}
					});
				});
			</script>
		
	</div>
	<!--    http://localhost:8484/api/weather -->
</body>
</html>