<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">


<!-- 	    model.addAttribute("brandlist", fservice.brandSelectAll());
	    model.addAttribute("foodlist", fservice.foodselectAll());
	    model.addAttribute("nutrientlist", fservice.nutrientSelectName());
	    model.addAttribute("rangelist", service.rangeList());
	    model.addAttribute("resultcard", service.resultcard()); -->

 	<!-- 모달 -->
	<!-- The Modal -->
	<div class="mymodal container my-5">
		<div class="col-sm-3" 
				th:each="f, stat : ${list}">

				<p 	th:text="${f.foodname}"
						th:data-bs-toggle="modal" 
						th:data-bs-target="'#myModal'+ ${stat.index}" 
						class="img-fluid img-thumbnail cursor-pointer"
						style="width:300px;  cursor:pointer;"></p>
			
				<div class="modal fade" th:id="'myModal'+ ${stat.index}">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				
				      <!-- Modal Header -->
				      <div class="modal-header">
				        <h5 class="modal-title" th:text="${f.foodname}"></h5>
				        <h6 class="modal-title" th:value="${f.brandid}" th:text="${f.brandname}"></h6>
				        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				      </div>
				
				      <!-- Modal body -->
				      <div class="modal-body">
				      	<p th:text="'종:' + ${f.pettypeid}"></p>
				      	<p th:text="'사료타입:'+${f.foodtype}"></p>
				      	<p th:text="'그레인프리:'+${f.isgrainfree}"></p>
				      	<p th:text="'분류:'+${f.category}"></p>
				      	<p th:text="'연령:'+${f.petagegroup}"></p>
				      	<p th:text="'칼로리:'+${f.calorie}"></p>
				      	<p th:text="'주재료:'+${f.mainingredient}"></p>
				      	<p th:text="'부재료:'+${f.subingredient}"></p>
				      	<p th:text="'소개:'+${f.description}"></p>
				      	<p th:text="'영양정보:'+${f.nutriinfo}"></p>
				      </div>
				
				      <!-- Modal footer -->
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				      </div>
				
				    </div>
				  </div>
				</div>		
	
			</div> <!-- col -->
		</div>
	</div>
	
	
	</div><!-- content-->
</body>
</html>